@import '../../../styles.scss';

input {
  width: 90vw;
  height: 5vh;
  padding: 2vh;
  padding-left: 4vw;
  font-size: $font-size-base;
  color: $text-color-gray;
  border-radius: $border-radius-buttons;
  background-color: $fields-color;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}