@use '../../../styles.scss' as *;

.chat {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: $background-color;
}

.chat-header {
	display: flex;
	align-items: center;
	padding: 15px;
	background-color: $fields-color;
}

.back-to-main {
	padding-left: 34vw;
}

.chat-info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	margin-left: 0px;
	color: $text-color-gray;
	
	h2 {
		margin: 0;
		font-size: 18px;
		font-weight: 500;
		color: $text-color-white;
		width: 50vw;
	}

	p {
		font-size: 16px;
		color: #fff;
		opacity: 0.5;
	}

	data {
		display: flex;
		flex-direction: column;

	}
}

.chat-messages {
	flex: 1;
	padding: 20px;
	overflow-y: auto;
	flex-grow: 1;
}

.message {
	display: flex;
	margin-bottom: 16px;
}

.message.sent {
	justify-content: flex-end;
}

.message-content {
	max-width: 70%;
	padding: 10px 15px;
	border-radius: 18px;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.message.sent .message-content {
	background-color: #2196f3;
	color: #fff;
}

.message-content p {
	margin: 0;
	font-size: 14px;
	line-height: 1.4;
}

.message-time {
	display: block;
	margin-top: 4px;
	font-size: 11px;
	color: #666;
}

.message.sent .message-time {
	color: rgba(255, 255, 255, 0.8);
}

.chat-input {
	display: flex;
	padding: 15px;
	background-color: $fields-color;
	height: 8vh;
}

.chat-input input {
	background-color: $fields-color;
	flex: 1;
	padding: 8px 12px;
	font-size: 14px;
	outline: none;
	color: $text-color-gray;
	font-size: 20px;

}

.chat-input button {
	background-color: $fields-color;
		cursor: pointer;
	transition: background-color 0.2s;
}


.no-chat-selected {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: #666;
	font-size: 16px;
}

.avatar {
	display: block;
	min-width: 32px;
	min-height: 32px;
	border-radius: 50%;
	background-color: #13171D;
}
.back-arrow {
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: background-color 0.2s;

	padding: 4px;
	min-width: 18px;
}