<div>
    <img src="assets/img/user-square.svg" alt="user-square">
    <h1>Change Password</h1>
    <form [formGroup]="changePasswordForm">
        <app-custom-input
            formControlName="password"
            type="password"
            placeholder="Your password"
        ></app-custom-input>

        <app-custom-input
            formControlName="repeatPassword"
            type="password"
            placeholder="Repeat password"
        ></app-custom-input>

        <app-custom-button
            text="restore"
            color="#007bff"
            (onClick)="onRegisterClick()"
        ></app-custom-button>
    </form>
</div>
