<div>
    <img src="assets/img/user-square.svg" alt="user-square">
    <h1>Welcome <br> to WebChat</h1>
    <app-custom-input
        type="email"
        placeholder="Your email..."
        [(value)]="email"
    ></app-custom-input>

    <app-custom-input
        type="password"
        placeholder="Your password..."
        [(value)]="password"
    ></app-custom-input>

    <app-custom-button
        class = "margin-large"
        text="Log in"
        color="#007bff"
        (onClick)="onLoginClick()"
    ></app-custom-button>

    <app-custom-button
        text="register"
        color="#1E252F"
        (onClick)="onRegisterClick()"
    ></app-custom-button>

    <p class = "postscriptum">By config, you agree <br> with the platform rules</p>
    <a (click)="onRestoreClick()" class = "postscriptum"><p>Forgot the password?</p></a>
</div>
