@use '../../../styles.scss' as *;

.messenger {
	background-color: $fields-color;
	height: 100vh;
	color: $text-color-white;
	position: relative;
}

.sidebar {
	width: 100%;
	background-color: $background-color;
	height: 100vh;
	padding-bottom: 80px;
}

.search-container {
	padding-left: 1vh;
	background-color: $fields-color;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	margin-top: 3vh;
	margin-left: 8vw;
	margin-right: 8vw;
	@include flexbox(row, flex-start, left);
	input{
		background-color: $fields-color;
		border-radius: 30px;
		color: $text-color-gray;
	}
	img{
		height: 2.5vh;
		align-self: center;
	}
}

.search-input {
	width: 100%;
	padding: 12px 14px;
	border-radius: 4px;
	font-size: 14px;
	outline: none;

	&:focus {
		border-color: #2196f3;
	}
}

.user-list {
	background-color: $background-color;
	height: 100vh;
}

.sidebar-title{
	margin-left: 8vw;
	margin-top: 2vh;
	font-size: $font-size-large;
	font-weight: 500;
}

.user-item {
	display: flex;
	align-items: center;
	padding: 1.5vh 8vw;
	cursor: pointer;
	transition: background-color 0.2s;

	&:hover {
		background-color: $fields-color;
	}

	&.active {
		background-color: $active-fields-color;
	}
}

.avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 12px;
}

.user-info {
	flex: 1;
}

.user-name {
	font-weight: 500;
	font-size: $font-size-base;
	margin-bottom: 4px;
}

.last-message {
	font-size: 12px;
	color: #666;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chat-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: $fields-color;
}

.no-chat-selected {
	background-color: $fields-color;
	height: 100%;
	color: $text-color-white;
	font-size: $font-size-large;
	padding-top: 2vh;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10vh;
	background-color: $fields-color;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-logo {
	height: 50px;
	width: auto;
	margin-bottom: 1vh;
}

