<div class="messenger">
    <div class="sidebar">     
        <div class="actions-container">
            <p class="sidebar-title">Messages</p>
            <app-modal></app-modal>
        </div>
        <div class="search-container" (click)="focusSearch()" (keydown.enter)="focusSearch()" tabindex="0">
            <img src="assets/img/search-icon.svg" alt="search" />
            <input
                type="text"
                [(ngModel)]="searchQuery"
                (ngModelChange)="onSearch()"
                placeholder="Search"
                class="search-input"
                id="search-input"
            />
        </div>


        <div class="user-list" *ngIf="filteredChats.length > 0">
            <div
                *ngFor="let chat of filteredChats"
                class="user-item"
                [class.active]="selectedChat?.id === chat.id"
                (click)="selectChat(chat)"
                (keydown.enter)="selectChat(chat)"
                tabindex="0"
            >
                <div class="avatar"></div>
                <div class="user-info">
                    <div class="user-name">{{ chat.name }}</div>
                    <div class="last-message">{{ chat.lastMessage.text }}</div>
                </div>
                <div class="new-messages-count">{{ chat.newMessagesCount }}</div>
            </div>
        </div>
        <div class="user-list" *ngIf="filteredChats.length === 0">
            <p class="no-results">No results found</p>
        </div>
    </div>
    <div class="footer">
        <img src="assets/img/messages-icon.svg" alt="logo" class="footer-logo" />
    </div>
</div>