<div class="messenger">
	<div class="sidebar">
		<div class="search-container">
			<input
				type="text"
				[(ngModel)]="searchQuery"
				(ngModelChange)="onSearch()"
				placeholder="Search users..."
				class="search-input"
			/>
		</div>

		<div class="user-list">
			<div
				*ngFor="let user of filteredUsers"
				class="user-item"
				[class.active]="selectedUser?.id === user.id"
				(click)="selectUser(user)"
			>
				<img [src]="user.avatar" [alt]="user.name" class="avatar" />
				<div class="user-info">
					<div class="user-name">{{ user.name }}</div>
					<div class="last-message">{{ user.lastMessage }}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="chat-container">
		<app-chat
			*ngIf="selectedUser"
			[selectedChat]="selectedUser"
			(messageSent)="onSendMessage($event)"
		></app-chat>
		<div *ngIf="!selectedUser" class="no-chat-selected">
			Select a user to start chatting
		</div>
	</div>
</div>
