<div class="messenger">
    <div class="sidebar" [style.width.px]="sidebarWidth">
        <div class="search-container">
            <img src="assets/img/search-icon.svg" />
            <input
                    type="text"
                    [(ngModel)]="searchQuery"
                    (ngModelChange)="onSearch()"
                    placeholder="Search users..."
                    class="search-input"
            />
        </div>

        <div class="user-list">
            <p>Messages</p>
            <div
                    *ngFor="let chat of filteredChats"
                    class="user-item"
                    [class.active]="selectedChat?.id === chat.id"
                    (click)="selectChat(chat)"
            >
                <img [src]="chat.id" [alt]="chat.name" class="avatar" />
                <div class="user-info">
                    <div class="user-name">{{ chat.name }}</div>
                    <div class="last-message">{{ chat.last_message }}</div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="resizer" (mousedown)="onResizeStart($event)"></div>-->

    <div class="chat-container">
        <app-chat
                *ngIf="selectedChat"
                [selectedChat]="selectedChat"
                (messageSent)="onSendMessage($event)"
        ></app-chat>
        <div *ngIf="!selectedChat" class="no-chat-selected">
            Select a user to start chatting
        </div>
    </div>
</div>