@import '../../../styles.scss';

.messenger {
	@include flexbox(row, flex-start, left);
	background-color: $fields-color;
	height: 100vh;
	color: $text-color-white;
}

.sidebar {
	width: 40vw;
	background-color: $background-color;
	display: flex;
	flex-direction: column;
	height: 100vh;
	border-right: 2px solid gray;
}

.search-container {
	padding-left: 1vh;
	background-color: $fields-color;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	margin-top: 3vh;
	margin-left: 2vw;
	margin-right: 2vw;
	@include flexbox(row, flex-start, left);
	input{
		background-color: $fields-color;
		border-radius: 30px;
		color: $text-color-gray;
	}
	img{
		height: 2.5vh;
		align-self: center;
	}
}

.search-input {
	width: 100%;
	padding: 8px 12px;
	border-radius: 4px;
	font-size: 14px;
	outline: none;

	&:focus {
		border-color: #2196f3;
	}
}

.user-list {
	background-color: $background-color;
	height: 100vh;
	p{
		margin-left: 3vw;
		margin-top: 2vh;
		font-size: $font-size-large
	}
}

.user-item {
	display: flex;
	align-items: center;
	padding: 12px 15px;
	cursor: pointer;
	transition: background-color 0.2s;

	&:hover {
		background-color: $fields-color;
	}

	&.active {
		background-color: $active-fields-color;
	}
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 12px;
}

.user-info {
	flex: 1;
}

.user-name {
	font-weight: 500;
	margin-bottom: 4px;
}

.last-message {
	font-size: 12px;
	color: #666;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chat-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: $fields-color;
}

.no-chat-selected {
	background-color: $fields-color;
	height: 100%;
	color: $text-color-white;
	font-size: $font-size-large;
	padding-top: 2vh;
}

.resizer {
	width: 5px;
	background-color: $active-fields-color;
	cursor: col-resize;
	position: relative;
	z-index: 10;
}