<div>
    <p>Registration</p>

    <app-custom-input
        type="text"
        placeholder="Your name..."
        [(value)]="name"
    ></app-custom-input>

    <app-custom-input
        type='email'
        placeholder="Your email..."
        [(value)]="email"
    ></app-custom-input>

    <app-custom-input
        type="password"
        placeholder="Your password..."
        [(value)]="password"
    ></app-custom-input>

    <app-custom-input
        type="password"
        placeholder="Repeat your password..."
        [(value)]="password"
    ></app-custom-input>

    <app-custom-button
        text="register"
        color="blue"
        (onClick)="onLoginClick()"
    ></app-custom-button>

    <p>By config, you are agree with the platform rules</p>
</div>