<div>
    <img src="assets/img/user-square.svg" alt="user-square">
    <h1>Restore Password</h1>
    <div [formGroup]="restorePasswordForm">
        <app-custom-input
            type="email"
            placeholder="Your email..."
            formControlName="email"
        ></app-custom-input>

        <app-custom-button
            text="restore"
            color="#007bff"
            [disabled]="restorePasswordForm.invalid"
            (click)="onRestoreClick()"
        ></app-custom-button>
    </div>
</div>
